services:
  reverse-proxy:
    image: nginx:latest
    container_name: reverse-proxy
    ports:
      - "8443:443"
    volumes:
      - ./reverse-proxy/default.conf:/etc/nginx/conf.d/default.conf
      - ./reverse-proxy/localhost.pem:/etc/nginx/conf.d/localhost.pem
      - ./reverse-proxy/localhost-key.pem:/etc/nginx/conf.d/localhost-key.pem
  client:
    build: ./client
    container_name: client
    ports:
      - "8080:80"
    volumes:
      - ./client/app:/app
      - ./client/nginx/default.conf:/etc/nginx/conf.d/default.conf
  server:
    image: nginx:latest
    container_name: server
    ports:
      - "8081:80"
    volumes:
      - ./server/index.html:/usr/share/nginx/html/index.html
  api:
    image: nginx:latest
    container_name: api
    ports:
      - "8082:80"
    volumes:
      - ./api/index.html:/usr/share/nginx/html/index.html
  db:
    image: mysql:latest
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cardgame_simulator
      MYSQL_USER: localadm
      MYSQL_PASSWORD: password
      TZ: 'Asia/Tokyo'
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - "3306:3306"
