/#innodb_redo/
/#innodb_temp/
/cardgame_simulator/
/mysql/
/performance_schema/
/sys/
/#ib_16384_0.dblwr
/#ib_16384_1.dblwr
/binlog.000001
/binlog.000002
/binlog.index
/ib_buffer_pool
/ibdata1
/ibtmp1
/mysql.ibd
/mysql.sock
/undo_001
/undo_002
*.cnf
*.pem
